
<script type="text/ng-template" id="dyn-field-text">
    <ng-form name="{{innerForm}}">
        <label>{{field.Label}}</label>
        <input type="text" name="{{field.FieldId}}" ng-model="field.FieldValue" ng-class="{'form-control' : true }" ng-readonly="field.ReadOnly" placeholder="{{field.Placeholder}}" title="{{field.ToolTip}}" data-dynvalid />
        <span ng-show="frm{{field.FieldId}}.{{field.FieldId}}.$error.dynvalid">{{validationMessage}}</span>
    </ng-form>
</script>

