@{
    Layout = null;
}
<ng-form name="{{innerForm}}">
    <label>{{field.Label}}</label>
    <input type="text" name="dynField" ng-model="field.FieldValue" ng-class="{'form-control' : true }" ng-readonly="field.ReadOnly" placeholder="{{field.Placeholder}}" />
    <dynamicvalidate validations="field.FieldValidations" innerform="innerForm"></dynamicvalidate>
</ng-form>


